* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 180px;
  padding: 20px;
  background: #0D0D0D;
  color:#A59F12;
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  font-size: 1.2em;
}

h2 {
  padding: 2px;
  font-size: 0.75em;
}

.container {
  margin: auto;
  text-align: center;
}

.controls {
  margin: 20px 0px 6px 0px;
}

.btn {
  cursor: pointer;
  text-align: center;
  font-size: 0.9em;
  margin: 15px 0 15px 0;
  padding: 10px 15px 10px 15px;
  outline: none;
  color: #9F9980;
  border: 1px solid #353222;
  border-radius:5px;
  box-shadow: 0 8px #353222, 0 5px 5px #353222, 0px 8px 10px 1px #afaa8f;
}

.btn:hover, .btn:active {
  color: #181612;
  background-color: #4d4b26;
  box-shadow: 0 8px #353222, 0 5px 5px #353222;
}

.btn:active {
  transform: translateY(5px);
}

.btn-dark {
  color: #afaa8f;
  background-color: #181612;
}

.btn-pressed {
  color: #181612;
  background-color: #A59F12;
  box-shadow: 0 6px #353222, 0 5px 5px #353222, 0px 8px 9px 1px #afaa8f;
}

.form-group {
  width: 100%;
  padding: 8px 0px 8px 0px;
}

.form-group label {
  color: #9F9980;
  cursor: pointer;
  font-size: 0.9em;
  vertical-align: center;
}

.form-group input[type$='checkbox'] {
  padding: 30px;
  cursor: pointer;
}
